## 1. Import library & data ##

#### 1.1 Import library

In [ ]:
import pandas as pd
import random

#### 1.2 Import data ###

In [2]:
ff = pd.read_excel("Book1.xlsx",header=None)

In [4]:
ff.head()

,0,1,2,3,4,5,6,7
0,1,apt,~하는 경향이 있는,inclined,prone,disposed,NaN,NaN
1,1,apt,적당한,appropriate,proper,suitable,NaN,NaN
2,1,astonish,놀라게 하다.,surprise,astound,shock,startle,daze
3,1,chronically,만성적으로,constantly,persistently,continuously,habitually,NaN
4,1,daub,흠뻑 칠하다,coat,cover,plaster,slather,NaN

## 2. Data pre-processing ##

#### 2.1 Put column names and select column ####

In [5]:
ff.columns=['days','words','korean','synonim1','synonim2','synonim3','synonim4','synonim5']

In [6]:
ff = ff[['days','words','synonim1','synonim2','synonim3','synonim4','synonim5']]

#### 2.2 Make a empty dataframe if you don't have and save it as excel file ####

In [7]:
#hard_voca = pd.DataFrame(index=range(0), columns=['Voca', 'incorrect#', 'correct#'])
#hard_voca.to_excel('hard_voca.xlsx')

#### 2.3 Import hard voca excel file ####

In [8]:
hard_voca = pd.read_excel('hard_voca.xlsx')

#### 2.4 Put synonims to the one list ####

In [16]:
total_syns=[]
for i in range(len(ff)):
    syns = []
    for j in ff.loc[i,['synonim1','synonim2','synonim3','synonim4','synonim5']]:
        if pd.isnull(j):
            pass
        else:
            syns.append(j)
    total_syns.append(syns)

In [17]:
len(total_syns)

2546

#### 2.5 Make a dictionary with synonims based on the excel file ####

In [18]:
di = {}
cou = 0
for i in range(len(ff)):
    temp = ff.loc[i,["words"]]['words']
    if temp not in di.keys():
        
        di[temp] = total_syns[i]
        cou+=1
        
    else:
        di[temp] = di[temp] + total_syns[i]
        di[temp] = list(set(di[temp]))

In [19]:
print(len(di))
print(cou)

2269
2269

In [20]:
print(di['apt'])

[' disposed', ' prone', ' proper', ' inclined', ' appropriate', ' suitable']

## 3. Ask the quiz date ##

#### 3.1 Recieve the quiz date ####

In [36]:
ask_day = True
while ask_day:
    test_day = input("Which day you want to test? (1~30) ")
    if (int(test_day) > 0) & (int(test_day) < 30):
        print("Let's take a test for day",test_day)
        ask_day = False

Which day you want to test? (1~30) 3
Let's take a test for day 3

#### 3.2 Get the voca for specific date from the dictionary ####

In [37]:
days_total = ff.loc[ff["days"]==int(test_day),['words']]

In [38]:
days_total.head()

              words
82  a wide range of
83           afford
84         announce
85           chance
86           chance

#### 3.3 Reset the index & remove duplicate ####

In [39]:
days_total = days_total.reset_index(drop=True)

In [40]:
days_total.head()

             words
0  a wide range of
1           afford
2         announce
3           chance
4           chance

In [41]:
removed_dup = []
for i in range(len(days_total)):
    temp = days_total.loc[i,['words']]
    #print(temp[0])
    if temp[0] not in removed_dup:
        removed_dup.append(temp[0])

In [42]:
removed_dup[0:5]

['a wide range of', 'afford', 'announce', 'chance', 'chart']

## 4. Generate quizes & update hard voca##

#### 4.1 Generate quiz with randomness ####

In [43]:
selected = random.sample(removed_dup, 15)

In [44]:
test = selected[0:2]
# To test codes, I selected it from 0 to 2, 
# If you trying to take a quiz, you can set it from 0 to 15

In [45]:
total_q = len(test)
your_score = 0
remember_this = []
cou = 1
for q in test:
    print("------------")
    print("Question", cou)
    print("------------")
    print("What is the synonyn for -",q.capitalize())
    temp = []
    the_answer = random.sample(di[q], 1)
    wrong_answers = list(di.keys())
    wrong_answers.remove(q)
    options = random.sample(wrong_answers, 3)
    for i in the_answer:
        temp.append(i)
    for j in options:
        temp.append(j)
    random.shuffle(temp)
    multi = ["a)","b)","c)","d)"]
    for i in range(4):
        print(multi[i],temp[i])
    myans = input("Your answer is ")
    book = {"a":0,"b":1,"c":2,"d":3}
    yourans = temp[book[myans]]
    
    if yourans == the_answer[0]:
        #print("Correct!")
        your_score+=1
    else:
        #print(yourans)
        #print(the_answer[0])
        #print("It's wrong answer")
        #print("The synonyn for",q.capitalize(),"is",the_answer[0])
        remember_this.append(q)
    cou+=1
    
    
print("")  
print("")   
print("You got",your_score,"correct out of",total_q,"questions")

if total_q != your_score:
    if len(remember_this) == 1:
        print("Review this word",remember_this)
    else:
        print("Review these words",remember_this)

------------
Question 1
------------
What is the synonyn for - Stimulus
a) render
b) motivation
c) allure
d) plausible
Your answer is a
------------
Question 2
------------
What is the synonyn for - Esteem
a)  respect
b) meticulously
c) reflect
d) voluble
Your answer is a


You got 1 correct out of 2 questions
Review this word ['stimulus']

#### 4.2 Update hard voca dataframe and save it as excel ####

In [48]:
list_of_hard_voca = list(hard_voca['Voca'])
for i in test:
    if i in remember_this:
        if i in list_of_hard_voca:
            where_voca = list_of_hard_voca.index(i)
            hard_voca.loc[where_voca]["incorrect#"] += 1
            
        else:
            hard_voca=hard_voca.append({"Voca" : i , 'incorrect#' : 1, 'correct#' : 0} , ignore_index=True)
    else:
        if i in list_of_hard_voca:
            where_voca = list_of_hard_voca.index(i)
            hard_voca.loc[where_voca]["correct#"] += 1
hard_voca.to_excel('hard_voca.xlsx')

#### 4.3 Check the hard_voca ####

In [49]:
hard_voca = pd.read_excel('hard_voca.xlsx')
hard_voca

        Voca incorrect# correct#
0  laborious          2        0
1   property          2        0
2   stimulus          2        0